<div class="viewport">

	<div class="container">

		<div class="row">
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-travel"><h1 class="h4">Travel</h1></div><h1 class="h4 bubble-text">Travel</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-kids"><h1 class="h4">Kids</h1></div><h1 class="h4 bubble-text">Kids</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-food"><h1 class="h4">Food</h1></div><h1 class="h4 bubble-text">Food</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-featured"><h1 class="h4">Featured</h1></div><h1 class="h4 bubble-text">Featured</h1></div>
		</div>

		<div class="row">
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-money"><h1 class="h4">Money</h1></div><h1 class="h4 bubble-text">Money</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-life notification notification--life"><h1 class="h4">Life</h1></div><h1 class="h4 bubble-text">Life</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-treats"><h1 class="h4">Treats</h1></div><h1 class="h4 bubble-text">Treats</h1></div>
		</div>

		<div class="row">
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-weddings"><h1 class="h4">Weddings</h1></div><h1 class="h4 bubble-text">Weddings</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-motor"><h1 class="h4">Motor</h1></div><h1 class="h4 bubble-text">Motor</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-home"><h1 class="h4">Home</h1></div><h1 class="h4 bubble-text">Home</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-shopping"><h1 class="h4">Shopping</h1></div><h1 class="h4 bubble-text">Shopping</h1></div>
		</div>

		<div class="row">
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-energy"><h1 class="h4">Energy</h1></div><h1 class="h4 bubble-text">Energy</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-health notification notification--health"><h1 class="h4">Health</h1></div><h1 class="h4 bubble-text">Health</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-technology"><h1 class="h4">Tech</h1></div><h1 class="h4 bubble-text">Tech</h1></div>
		</div>

		<div class="row">
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-leisure"><h1 class="h4">Leisure</h1></div><h1 class="h4 bubble-text">Leisure</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-outdoors"><h1 class="h4">Outdoors</h1></div><h1 class="h4 bubble-text">Outdoors</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-gifts"><h1 class="h4">Gifts</h1></div><h1 class="h4 bubble-text">Gifts</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-garden"><h1 class="h4">Garden</h1></div><h1 class="h4 bubble-text">Garden</h1></div>
		</div>

		<div class="row">
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-books"><h1 class="h4">Books</h1></div><h1 class="h4 bubble-text">Books</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-events"><h1 class="h4">Events</h1></div><h1 class="h4 bubble-text">Events</h1></div>
			<div class="bubble-container" ng-click="expand( $event )"><div class="bubble bg-sport"><h1 class="h4">Sport</h1></div><h1 class="h4 bubble-text">Sport</h1></div>
		</div>

	</div>

</div>
